<h1><%= current_user.user_name.upcase %>'S WISHLIST</h1>

<ul>
  <% current_user.cars.each do |car| %>
  <a href="/cars/<%= car.id %>"><li><img src="<%= car.image %>" width="400"></li></a>
  <form method="post" action="/users/cars/<%= car.id %>/delete">
    <input type="hidden" name="_method" value="delete"></input>
    <button type="submit" class="pure-button pure-button-primary" id="<%= car.id %>">Delete</button>
  </form>
<% end %>
</ul>



