

<section class="all-cars">

<h1>ALL ADDED <%= @current_user.user_name.upcase %>'S CARS</h1>

<div class="all-cars">  
<% @cars.each do |car| %>
  <li class="all-cars pure-u-md-2"><%=car.year%> <%= car.model %></li>
  <li class="all-cars pure-u-md-2"><a href="/cars/<%= car.id %>"> 
    <img src="<%= car.image %>" width="400"> 
  </a></li>
  <li class="all-cars pure-u-md-2">£ <%= car.price %></li>
</div>
  
  <% if is_dealer? %>

 <!--  <a href="/cars/<%= car.id %>/edit">Edit</a> -->

 <li>
  <form method="get" action="/cars/<%= car.id %>/edit">
    <button type="submit" class="pure-button">Edit</button>
  </form>
</li>

  <li>
    <form method="post" action="/cars/<%= car.id %>/delete">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="pure-button">Delete</button>
      <!-- <button>Delete</button> -->
    </form>
  <li>
  <% else %>

  
  <li>
    <form method="post" action="/cars/<%= car.id %>/add-to-wishlist">
      <button type="submit" class="pure-button">ADD TO WISHLIST</button>
    </form>
  <li>

<!--   <form method="post" action="/cars/<%= car.id %>/add-to-wishlist">
    <input type="submit" name="_method" value="Contact Seller"></input>
  </form> -->

  <% end %>
<% end %>



</section>

