

<section class="all-cars">
<h1>ALL CARS</h1>

<ul>
<% @cars.each do |car| %>
  <li><%= car.model %></li>
  <a href="/cars/<%= car.id %>"> 
    <img src="<%= car.image %>" width="300"> 
  </a>
  <li>£ <%= car.price %></li>
  
  <% if is_dealer? %>
 <!--  <a href="/cars/<%= car.id %>/edit">Edit</a> -->
  <form method="post" action="/cars/<%= car.id %>/edit">
    <button type="submit" class="pure-button pure-button-primary">Edit</button>
  </form>

  <form method="post" action="/cars/<%= car.id %>/delete">
    <button type="submit" class="pure-button pure-button-primary">Delete</button>
    <!-- <button>Delete</button> -->
  </form>
  <% else %>

  

  <form method="post" action="/cars/<%= car.id %>/add-to-wishlist">
    <button type="submit" class="pure-button pure-button-primary">ADD TO WISHLIST</button>
  </form>

<!--   <form method="post" action="/cars/<%= car.id %>/add-to-wishlist">
    <input type="submit" name="_method" value="Contact Seller"></input>
  </form> -->

  <% end %>
<% end %>
</ul>
</section>

