<h1><%= @car.make%> <%= @car.model %> </h1>

<ul>
  <li>
    <a href="/cars/<%= @car.id %>">
      <img src="<%= @car.image %>" width="300"> 
    </a>
  </li>
  <li> Year: <%= @car.year %> </li>
  <li> Price: £ <%= @car.price %> </li>
  <li> Dealer: <%= @car.user_name %> </li>
</ul>


 